textarea {
  width: 200px;
  height: 300px;
}

.container {
  clear: both;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.inner-container {
  margin: 20px auto;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container-half {
  width: 260px;
  float: left;
  margin: 20px auto;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}



.nav li {
display: inline;
padding: 10px;
}

.nav {
  background-color: black;
  color: white;

}

.nav a {
   text-decoration: none;
   color: white;
}
.nav a:hover {
   text-decoration: underline;
   color: red;
}


th {
  text-align: left;
}

.username {
  font-style: italic;
}

ul {
  list-style-type: none;
}

#list li {
  display: inline;
  padding: 10px;
}
