<div class="container">

  <h1>Log In</h1>
  <ul>
    <form method="post" action="/login">
      <li><input type="text" name="username"></li>
      <li><input type="password" name="password"></li>
      <li><input type="submit" value="login"></li>
    </form>
  </ul>

</div>
