<div class="nav">
  <ul>
    <li><a href='/'>Home</a></li>

    <% if current_user %>

      <li><a href='/post/create'>Create Post</a></li>
      <li><a href='/logout'>Log out</a></li>

    <% else %>

      <li><a href='/signup'>Signup</a></li>
      <li><a href='/login'>Login</a></li>

    <% end %>
  </ul>
</div>
