<div class="container-half">

  <h1>Sign Up</h1>
  
  <ul>
    <form method="post" action="/signup">
      <li><input type="text" name="username"></li>
      <li><input type="password" name="password"></li>
      <li><input type="submit" value="Sign In"></li>
    </form>
  </ul>

</div>
