

<% if current_user == nil %>
<%= erb :_signup, :layout => true %>
<% end %>

<div class="container">

  <h1>The Good News</h1>
    
  <ul>
    <% @posts.each do |post| %>
    <li class="post-head"><a href="/post/<%= post.id%>">
      <%= post.title %></a><span class="username"> by <%= post.user.username %></span></li>
    <% end %>
  </ul>
</div>
